

<div class="bg-gray-100 w-4/12 h-auto mx-24 my-8 border-black border-2 rounded-xl" >
  <h2 class="text-blue-700 my-4 text-center text-3xl italic"><%= book.title %></h1>
  <h3 class="mb-4 text-center font-bold"><%= book.author %></h3>
  <img class="mx-auto mb-6" src="<%= book.image_path %>" width="175" height="250">
</div>