<h1>Browse Through a List of All Books:</h1>

<% @books.order(:name).each do |book| %>
<ul>
    <li><%= link_to "#{book.title}", book_path(book) %></li>
    <li><%= book.author %></li>
    <li>
      <img src="<%= book.image_path %>" width="175" height="250">
    </li>
  </ul>
  <% end %>