<h1>Browse Through a List of All Books:</h1>

<ul>
  <% @books.order(:name).each do |book| %>
    <li><%= book.title %></li>
    <li><%= book.author %></li>
    <li><%= book.description %></li>
    <li>
      <img src="<%= book.image_path %>" width="175" height="250">
    </li>
  <% end %>
</ul>